<!DOCTYPE html>
<html>
  <head>
    <title>Get Game</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <h5>Get an existing game with ID</h5>
    <p>
      Send a GET request to the API using POSTMAN in the format mentioned below.
    </p>

    <kbd>GET http://localhost:3000/&ltgameID&gt</kbd>
    <p>Example:</p>
    <kbd>GET http://localhost:3000/5f7094ba7fa3774fd0880927</kbd>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
