<!DOCTYPE html>
<html>
  <head>
    <title>New Game Started</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <h5>New Game started with Game ID <kbd><%= id%></kbd></h5>
    <p>
      Send a post request to the API using POSTMAN in the format mentioned
      below.
    </p>

    <kbd>POST http://localhost:3000/gameID/columnNumber</kbd>

    <p>Example:</p>
    <kbd>POST http://localhost:3000/5f7094ba7fa3774fd0880927/2</kbd>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
